<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: head"></head>
<head th:replace="fragments :: header"></head>
<body>
<div class="container">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          th:action="@{/expense(query=${query})}" method="get">
        <div class="input-group">
            <div class="row">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" th:name="query">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Traži</button>
                </div>
            </div>
        </div>
    </form>
<div th:each="expense : ${expenses}">
    <h3 th:text="#{msg.expense.name}"></h3>:
    <p th:text="${expense.name}"> </p>

    <h3 th:text="#{msg.expense.amount}"></h3> <br>
    <p th:text="${expense.amount}"> </p>

    <h3 th:text="#{msg.expense.expenseType}"></h3> <br>
    <p  th:text="${expense.expenseType}"> </p>
    <br>

    <h3 th:text="Mjesto"></h3> <br>
    <p  th:text="${expense.placeOfExpense}"> </p>
    <br>
    <hr>
</div>
    <h2>Total</h2>
    <p th:text="${total}"></p>
    <button class="btn-warning" onclick="goBackPage()">Vratite se nazad</button>
    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-warning" href="/expense/resetWallet">Reset novčanik</a>
</div>

<div th:replace="fragments :: js"></div>
<script>
    function goBackPage() {
        window.history.back();
    }
</script>

</body>
</html>