<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: head"></head>
<head th:replace="fragments :: header"></head>
<body>
<div class="container">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          th:action="@{/wallet(username=${username})}" method="get">
        <div class="input-group">
            <div class="row">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2" th:name="username">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Traži</button>
                </div>
            </div>
        </div>
    </form>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          th:action="@{/wallet/range(min=${min}, max=${max})}" method="get">
        <div class="input-group">
            <div class="row">
                <input type="text" class="form-control bg-light border-0 small" placeholder="min..."
                       aria-label="Search" aria-describedby="basic-addon2" th:name="min">
                <input type="text" class="form-control bg-light border-0 small" placeholder="max..."
                       aria-label="Search" aria-describedby="basic-addon2" th:name="max">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Traži</button>
                </div>
            </div>
        </div>
    </form>
<div th:each="wallet : ${wallets}">
    <h3>Username</h3> <br>
    <p  th:text="${wallet.username}"> </p>
    <h2>Novčanik:</h2>
    <h3>Id</h3> <br>
    <p th:text="${wallet.id}"> </p>
    <h3>Vrsta</h3> <br>
    <p th:text="${wallet.type}"> </p>
    <h3>Total</h3> <br>
    <p  th:text="${wallet.total}"> </p>
    <br>


<div th:replace="fragments :: js"></div>
<script>
    function goBackPage() {
        window.history.back();
    }
</script>

</body>
</html>